// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$theme : #000;
$themeb : #000;
$themel : #00b34c;
$themel2 : #468ee6;
$b : solid 1px #9f0;

body{
	// font-size: 80%;
}
h4{
	background-color: $theme;
	margin-top: 14px;
	margin-bottom: 4px;
	padding: 6px 12px;
	color: $themel;
	font-weight: normal;
	&.c2{
		color: $themel2;
	}
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  /* border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none; */
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    background-color: $themel;
		// border: 1px solid $themeb;
		border: none;
		&.c2{
			background-color: $themel2;
		}
}
.c2{
	.btn:focus,.btn:active:focus,.btn.active:focus,
	.btn.focus,.btn:active.focus,.btn.active.focus {
	    background-color: $themel2;
	}
}
.btn-primary{
		border: none;
	//background-color: $theme;
	//border: 1px solid $themeb;
/* 	&.active, &:hover, &:active{
		background-color: $themeb;
		border: 1px solid $themeb;
		outline: none;
	}
	&:focus{
		outline: none;
	} */
}
.raspberyscreen{
	// background-color: #f8f;
	width: 800px;
	height: 480px;
}
.checkbox{
	margin: 6px 20px 6px 0px;
}
input.form-control{
	// padding: 0px;
	padding: 0px 12px;
	line-height: normal;
}
.table{
	td{
		font-size: 80%;
		background-color: #F4F4F4;
		&.bottom{
			background-color: transparent;
			padding: 0px;
		}
	}
	.txt_label{
		line-height: 30px;
	}
	.td_label{
		padding-left: 12px;
	}
}
select.input-sm{
	height: 100px;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  [class*='col-']{
  	// border : $b;
  	margin: 0px;
  	padding: 0px;
  	margin-top: 4px;
  }
  [class*='col-'].status{
  	margin-right: 4px;
  	padding: 0px 12px;
  }
}
.status{
	color: #FFF;
	background-color: $theme;
	// margin: 0px 0px 0px 10px;
	
	display: flex;
  align-items: center;
  @include border-top-radius(6px);
	@include border-bottom-radius(6px);
	span{
		// border: $b;
		display: inline-block;
		margin-right: 10px;
	}
	strong{
		font-size: 150%;
		font-weight: normal;
		color: $themel;
	}
	div.inline{
		display: inline-block;
	}
}
.c2 .status{
		strong{
			color: $themel2;
		}
	}
hr{
	margin: 6px 0px;
	border-top: 1px solid #666;
}
